Repository onlydustxyz/marketplace-smart-contracts, pull requests merged in 2022-07, with the labels that each got.

#48 :bug: list contributions in the same order they were created
  contracts/onlydust/deathnote/core/contributions/library.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.e2e.cairo
  contracts/onlydust/deathnote/test/test_e2e.cairo
Labels: Type: bug, Context: isolated, Difficulty: easy, Duration: under a day, State: review, Techno: cairo

#47 :sparkles: anyone can list contributions currently assigned to a given contributor
  contracts/onlydust/deathnote/core/contributions/contributions.cairo
  contracts/onlydust/deathnote/core/contributions/library.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.e2e.cairo
  contracts/onlydust/deathnote/interfaces/contributions.cairo
Labels: Type: feature, Context: isolated, Difficulty: easy, Duration: under a day, State: review, Techno: cairo

#53 🔨 Changes back-end addresses in deploy script to use 2d nonce accounts as REGISTERER
  scripts/deploy.sh
Labels: Context: isolated, Type: build, Difficulty: easy, Duration: under a day

#54 :hammer: update contract addresses in deploy script
  scripts/deploy.sh
Labels: Context: isolated, Type: build, Difficulty: easy, Duration: under a day, State: review, Techno: cairo

#57 ✨ add validator_account feature for contribution
  contracts/onlydust/deathnote/core/contributions/contributions.cairo
  contracts/onlydust/deathnote/core/contributions/library.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.cairo
  contracts/onlydust/deathnote/core/contributions/test_contributions.e2e.cairo
  contracts/onlydust/deathnote/interfaces/contributions.cairo
  contracts/onlydust/deathnote/test/libraries/contributions.cairo
  contracts/onlydust/deathnote/test/test_e2e.cairo
Labels: Type: feature, Context: isolated, Duration: under a day, Techno: cairo
